* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: var(--background-primary);
}

main {
  margin-left: 80px;
}

:root {
  --background-primary: #DCDAD8;
  --background-secondary: #504E8F;
  --background-secondary-alt: #FFFFFF;

  --text-primary: white;

  /* Constants */
  --tidify-logo-height: 100px;
  --grid-gap: 20px;
}

// Overwrite variables for react-big-calendar
$event-bg: #33344A;
$event-border: #33344A;
$event-outline: #33344A;
// $event-outline: var(--background-secondary);

$btn-color: #1D1C1B;
$btn-bg: #504E8F;
$btn-border: #504E8F;

$calendar-border: #33344A;
$cell-border: #504E8F;

$time-selection-bg-color: white;
$date-selection-bg-color: white;

// Change these 3 variables
$out-of-range-color: white;
$out-of-range-bg-color: #c9c1cc;
$today-highlight-bg: #8c7e9a;

// Import styles
@import "react-big-calendar/lib/sass/styles";