.rbc-header {
  padding: 0 !important;
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '' !important;
}

.rbc-agenda-time-cell .rbc-continues-prior:after {
  content: '' !important;
}

.rbc-agenda-time-cell .rbc-continues-after:before {
  content: '' !important;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: '' !important;
}

.rbc-today {
  background-color: transparent !important;
}

.rbc-day-slot .rbc-events-container {
  // margin-left: .15em;
  margin-right: 0 !important;
}